html, body {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    color: #111;
    background: #708090;
}

.container {
    width: 800px;
    margin: auto;
}

svg.canvas {
    background: white;
}

circle {
    opacity: 0.8;
}